run/saves/
run/logs/
run/config/
run/defaultconfigs/
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/sha1-checksums.bin
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/executionHistory/executionHistory.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/tmp/compileJava/previous-compilation-data.bin
run/logs/debug-1.log.gz
run/logs/debug-2.log.gz
run/logs/debug-3.log.gz
run/logs/debug-4.log.gz
run/logs/debug-5.log.gz
run/logs/debug.log
run/logs/latest.log
run/usercache.json
run/logs/2022-08-20-1.log.gz
run/logs/2022-08-20-2.log.gz
run/logs/2022-08-20-3.log.gz
run/logs/2022-08-20-4.log.gz
run/logs/2022-08-20-5.log.gz
*.gz
*.log
build/tmp/compileJava/previous-compilation-data.bin
run/options.txt
